/* Header */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.header {
   display: flex;
   justify-content: space-between;
   border: 1px solid  black;
   height: 70px;
}

.logo{
   width: 100px;
   height: 70px;
}

.nav-items > ul {
   display: flex;
   list-style-type: none;
   font-size: 24px;
   align-items: center;
   margin-top: 4px;
}

.nav-items > ul > li{
   padding: 10px;
   margin: 10px;

}

/* Body */
.res-container{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin: auto 5px;
}

.res-card {
   padding: 5px;
   width: 300px;
   /* height: 500px; */
   transition: transform 0.3s ease-in-out;
   margin: 33px;
}

.res-card h3, .res-card h4  {
   margin: 8px 0;
}

.res-card:hover{
   /* border: 1px solid black; */
   cursor: pointer;
   transform: scale(1.1);
}

.search-bar {
   padding: 10px;

}

.burger_image{
   width: 100%;
   height: auto;
   display: block; 
}

.rating{
   margin: 3px;
   display: flex;
   justify-content: space-between;
}